<h1>Your contacts:</h1>

<h4>
Fiter List:
<button href="" id="international-filter-button">International Numbers</button>
<button href="" id="extension-filter-button">Contacts with Extensions</button>
</h4>

<ul id="contacts">
  <% @contacts.each do |contact| %>
    <li class="contact" data-id="<%= contact.id %>" data-international="<%= contact.international %>" data-extension="<%= contact.extension %>">
      <h2><%= contact.first_name %> <%= contact.last_name %> (<%= contact.company_name %>)</h2>
      <h4><%= contact.email_address %></h4>
      <% if contact.extension == "" %>
        <h4><%= contact.country_code %> <%= contact.phone_number %></h4>
      <% else %>
        <h4><%= contact.country_code %> <%= contact.phone_number %> x<%= contact.extension %></h4>
      <% end %>
      <button href="" class="delete-button">Delete</button>
    </li>
  <% end %>
</ul>
