<h1>Your contacts:</h1>

<ul>
  <% @contacts.each do |contact| %>
    <li>
      <h2><%= contact.first_name %> <%= contact.last_name %> (<%= contact.company_name %>)</h2>
      <h4><%= contact.email_address %></h4>
      <% if contact.extension == "" %>
        <h4><%= contact.country_code %> <%= contact.phone_number %></h4>
      <% else %>
        <h4><%= contact.country_code %> <%= contact.phone_number %> x<%= contact.extension %></h4>
      <% end %>
      <button href="">Delete</button>
    </li>
  <% end %>
</ul>
